<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/registration.css' %}">
</head>
<body>
<div class="container">
    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <h3>create profile</h3>
        {% include 'home/form.html' with form=form %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>