form{
margin-top:6%;
}
body{
background-image:url("https://media.istockphoto.com/photos/magenta-color-fabric-texture-background-picture-id1162008291?k=6&m=1162008291&s=170667a&w=0&h=UXxjCIMfYm18q1leVmOj6QaxTt2bPyQ9j-WBIIT9uRw=");
background-repeat:repeat;
background-size:cover;
}
label{
color:white;
}