h1 {text-align: center;}
body{
background-image:url("https://media.istockphoto.com/photos/magenta-color-fabric-texture-background-picture-id1162008291?k=6&m=1162008291&s=170667a&w=0&h=UXxjCIMfYm18q1leVmOj6QaxTt2bPyQ9j-WBIIT9uRw=");
background-repeat:repeat;
background-size:cover;
}
label{
color:white;
}
h1{
color:white;
}

form{
margin-left: 25%;
margin-right:25%;
 width: 50%;
}
